@import "tailwindcss";

body {
  background-color: #1a202c;
  color: white;
  padding: 2rem;
  margin: 0;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  body {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

/* Cho màn hình Desktop trở lên (lg:px-24) */
@media (min-width: 1024px) {
  body {
    padding-left: 6rem;
    padding-right: 6rem;
  }
}

.search-input::placeholder,
.search-input {
  color: white;
  opacity: 0.7;
}

.search-input::-webkit-input-placeholder {
  color: white;
}
.search-input::-moz-placeholder {
  color: white;
}
.search-input:-ms-input-placeholder {
  color: white;
}
